body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #212121;
}
.logo {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
}
.logo-nav {
    color: #212121;;
}
.logo-footer {
    color: white;
}

.list {
    list-style: none;
    list-style-type: none;
}

a[href] {
    text-decoration: none;
}

.footer-bg {
    background: #2F303A;
}
.link-nav {
    color: #212121;
}
.link-nav:hover,
.link-nav:focus {
    color: #2196F3;
}
.contact-us-header {
    color: #757575;
}
.contact-us-header:hover,
.contact-us-header:focus {
    color: #2196F3;
}
.hero {
    background: #2F303A;
}
.hero-title {
    color: #FFFFFF;
}
.hero-btn {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn {
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
.btn:hover,
.btn:hover{
    background: #2196F3;
    color: #FFFFFF;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}
.address-footer {
    color: #FFFFFF;
}