body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: white;
    color: #212121;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.logo-nav {
    color: #212121;;
}
.logo-footer {
    color: white;
}

.list {
    list-style: none;
    list-style-type: none;
}

a[href] {
    text-decoration: none;
}

.footer-bg {
    background: #2F303A;
}
.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.link-nav:hover,
.link-nav:focus {
    color: #2196F3;
}
.contact-us-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-us-header:hover,
.contact-us-header:focus {
    color: #2196F3;
}
.hero {
    background: #2F303A;
}
.hero-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
}
.hero-btn {
    font-family: inherit;
    background: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.btn-portfolio {
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:hover{
    background: #2196F3;
    color: #FFFFFF;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}
.address-footer {
    color: #FFFFFF;
}